*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.mainbutton{
    margin-left: 100px;
}

#wrapper{
    margin: 0px auto;
    width: 810px;
}

#maintable td{
    text-align: center;
    border: 1px solid lightgray;
}

#first_wrap{
    display: inline-block;
    vertical-align: top;
    width: 400px
}

#other_books{
    display: inline-block;
    vertical-align: top;
    width: 400px;
}

#user_recent_reviews{
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
    width: 810px;
    min-height: 20px;
}

#othe_books{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    min-height: 200px;
}

#add_table p{
    width: 183px;
    font-size: 16px;
}

.make_small{
    font-size: 14px;
}

#userdash_non-reviews{
    display: inline-block;
    vertical-align: top;
    width: 810px;
    min-height: 200px;
}

#userdash_non-reviews td{
    border: 1px solid lightgray;
    min-width: 120px;
}

.unfavorite{
    cursor: pointer;
    border: none;
    background-color: white;
    color: red;
}

.new_review{
  margin: 10px auto;
}

.reviewform{
  margin: 0px auto;
}
